html{
  background-color: #cccccc;
  font-family: Arial;
}

a{
  border-style: double;
  color: azure;
  background-color: #007BFF;
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
